* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

:root {
    --primary-color: #255ee9;
    --text-color: #7289da;
}

/*XXXXXXXXXXXXXXXXXX
XXXXXXGENERALXXXXXXX
XXXXXXXXXXXXXXXXXX*/

body {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.border-dash {
    border: 2px dashed black;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.btn {
    font-size: 14px;
    padding: 12px 16px;
    border-radius: 20px;
    background-color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.wave img {
    width: 100%;
    filter: invert(100%);
    margin-bottom: -4px;
}

.wave-gray img {
    filter: invert(100%) brightness(83%);
}

.wave-white {
    background-color: lightgray;
}

/*XXXXXXXXXXXXXXXXXX
XXXXXXXHEADERXXXXXXX
XXXXXXXXXXXXXXXXXXX*/

.header-section {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-section .header-div {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-div>div {
    padding: 8px;
    width: max-content;
}

.header-div>div:first-child {
    text-align: start;
}

.header-div>div:nth-child(2) {
    text-align: center;
}

.header-div>div:last-child {
    text-align: end;
}

.header-section ul {
    display: flex;
    gap: 20px;
    color: #fff;
}

.header-section ul li {
    padding: 8px;
    font-weight: 500;
}

/*XXXXXXXXXXXXXXXXXX
XXXXXXXHEROXXXXXXXXX
XXXXXXXXXXXXXXXXXXX*/

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 50px;
}

#hero>div {
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#hero h1 {
    padding: 20px;
}

#hero p {
    width: 70%;
    text-align: center;
}

.hero-btn-cont {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.black {
    background-color: #000;
}

.white {
    color: #000;
}

/*XXXXXXXXXXXXXXXXXX 
XXXXXXXXMAINXXXXXXXX
XXXXXXXXXXXXXXXXXXXX*/

.main-sect {
    padding: 40px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-sect {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sect-lightgray {
    background-color: lightgray;
}

.reverse {
    flex-direction: row-reverse;
}

.sect-block {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.block-60 {
    width: 60%;
}

.block-40 {
    width: 40%;
}

.block-column {
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.background-star>span {
    padding: 20px;
    background-image: url('../img/stars.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.block-column .btn {
    background-color: var(--text-color);
    color: #fff;
}

/*XXXXXXXXXXXXXXXXXX
XXXXXXXFOOTERXXXXXXX
XXXXXXXXXXXXXXXXXX*/

footer {
    background-color: #000;
    color: #fff;
    padding: 36px 0;
}

footer .footer-sect {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0 36px;
}

.div-foot-sect {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 2px solid gray;
}

.foot-coral {
    width: 33%;
}

.foot-coral>span {
    color: var(--text-color);
    font-size: 24px;
}

.foot-coral>* {
    margin: 4px 0;
}

.foot-coral .fa-brands {
    margin-right: 4px;
}

.foot-sky {
    width: 66%;
    display: flex;
}

.foot-sky>div {
    width: 25%;
}

.footer-link {
    display: flex;
    flex-direction: column;
}

.footer-link ul {
    color: var(--text-color);
}

.footer-link li {
    color: #fff;
    margin: 16px 0;
}

.footer-cont {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.div-cont {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.footer-cont .div-cont .btn {
    background-color: var(--text-color);
}

.foot-coral div img {
    height: 10px;
}

/*XXXXXXXXXXXXXXXXXX
XXXXXXXICONEXXXXXXXX
XXXXXXXXXXXXXXXXXX*/

.logo-x {}